@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0px;
  padding: 0pc;
  box-sizing: border-box;
}
body {
  background-color: #d4d9e5;
  margin-top: 0px;
  font-family: "Lato", sans-serif;
}
.main {
  max-width: 297px;
  width: 100%;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 10px;
  padding-bottom: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}

.main h1 {
  padding-top: 2rem;
  width: 90%;
  margin: 0px auto;
}
.main p {
  width: 90%;
  margin: 1.1rem auto;

  color: #111827;
}
label,
input {
  display: block;
  width: 90%;
  margin: 1.2rem auto;
  border-top: none;
  border-left: none;
  border-right: none;
}

input {
  border-bottom: 1px solid #d4d9e5;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #413ef7;
}

button {
  display: block;
  text-align: center;
  margin: 2rem auto;
  padding: 0.5rem 1.2rem;
  background-color: #413ef7;
  border: none;
  color: white;
  border-radius: 9px;
  cursor: pointer;
}

.result {
  top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-clip: border-box;
}
.result h1 {
  max-width: 300px;
  position: relative;
  top: 50%;
  margin: 1rem auto;
  color: White;
}

.display {
  display: none;
}

.success {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.faliure {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.continue {
  margin: 10rem auto;
}

/* Stylig the privacy */
.privacy {
  max-width: 297px;
  background-color: #fff;
  text-align: center;
  margin: 0rem auto;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}
.close {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  top: 0px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #413ef7;
}
.close:hover,
.close:focus {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  top: 0px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: red;
}
/* styling the footer */

footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
}

footer p {
  text-align: center;
  padding-top: 0.5rem;
}
footer ul {
  padding-top: 0.2rem;
  padding-left: 0px;
  text-align: center;
  margin-bottom: 0px;
}
footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 1.2rem;
  padding-bottom: 5px;
}

@media (max-height: 590px) {
  footer {
    display: none;
  }
}
